/**
 * @name AddonPack+
 * @author It'sJustJosh#1156
 * @version 2.0
 * @description AddonPack+ Is a Discord Theme Incuding NYRI4's Comfy, and Pavui's Nebula With a Bunch of Snippets from The Powercord & Open Styles Community
 * @source https://raw.githubusercontent.com/TheRealGWJosh/AddonPackPlus/main/AddonPackPlus.theme.css
 * @website https://github.com/TheRealGWJosh/AddonPackPlus
 * @invite qafdmryEye
*/

/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Comfy/vars.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/main.css");
@import url("https://therealgwjosh.github.io/CustomUserBadges/source/main.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Teardrop-Messages.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Sidebar.css");
/* @import url("https://therealgwjosh.github.io/AddonPackPlus/src/OG-Comfy/vars.css"); */
/* @import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UnfocusedBG.css"); */
/* @import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Custom-Font.css"); */

/*
====================================================================================
                                  Color Variables
====================================================================================
*/ 
	.theme-dark {
		--background-tertiary: #101320;
		--background-secondary: #1e2233;
		--background-secondary-alt: #191f2e;
		--background-primary: #23283d;
		--background-mobile-primary: #23283d;
		--background-mobile-secondary: #1e2233;
		--channeltextarea-background: #191f2e;
		--background-accent: #6E85D3;
		--background-message-hover: transparent;
		--background-modifier-hover: #1c2030;
		--background-modifier-active: #1a1e2e;
		--background-modifier-selected: #191f2e;
		--deprecated-card-bg: #12141f63;
		--background-floating: #101320;
		--deprecated-quickswitcher-input-background: #101320;
		--elevation-low: none;
		--scrollbar-auto-thumb: #121722;
		--scrollbar-auto-track: #191f2e;
		--scrollbar-thin-thumb: #141925;
		--activity-card-background: #101320; }
/*
====================================================================================
                                  Theme Variables
====================================================================================
*/ 
	:root {
		/* Mention color */
		--mention-color: #7289da;
		/* Spotify plugin seek bar */
		--spotify-color: #1EDC62;
		/* Status color */
		--iddle: #FAA61A;
		--dnd: #F04747;
		--offline: #747F8D;
		/* User button spacing */
		--user-buttons-spacing: 1px;
		--user-buttons-padding: 30px 0 60px 0 ;
		/* Avatar position */
		--avatar-left: 17.5px;
		--avatar-bottom: 12.0px;
		/* Avatar roundess */
		--avatar-radius: 5px;
		/* Avatar width in modals */
		--avatar-width: 130px;
		/* Status roundness */
		--status-radius: 3px;
		/* Server roundess */
		--server-radius: 8px;
		/* Circles next to role names */
		--role-circle: 5px;
		/* Colored emoji picker */
		--colored-emoji: grayscale(0%);
		/* Change the value to "100%" if you want the basic one */
		/* Tooltips */
		--tooltips: block;
		/* Set it to "none" if you don't want it */
		/* Discord logo */
		--discord-logo: block;
		/* Set it to "block"if you want it */
		/* Change bonfire in modals */
		--bonfire: url("https://nyri4.github.io/Comfy/assets/bonfire.gif");
                /* CUSTOM */
                --status-background: url('https://i.imgur.com/yHP6sgj.png');
                --csbg:var(--status-background)!important;
		/* =====================================DO NOT MESS WITH===================================== */
		/* Status color */
		--online: var(--mention-color);
		/* Chat buttons color */
		--chat-buttons: var(--mention-color);
		/* Mention color in chat */
		--mention-color-bar: var(--mention-color);
		--mention-color-background: var(--mention-color);
		--mention-color-hover: var(--mention-color)26;
		/* User settings color (Mute, Deafen and settings) */
		--user-buttons-color: var(--mention-color);
		/* Mention color */
		--unread-color: var(--mention-color); }
/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/ 
