/* ==UserStyle==

--= Theme Stuff =--
@name                                                                                 AddonPack+
@version                                                                                   3.0.0
@description   Comfy With a Bunch of Snippets from The Powercord, Open Styles, & Comfy Community
@license                                                                                 CC0-1.0
@homepageURL                                      https://github.com/TheRealGWJosh/AddonPackPlus
@updateURL                                        https://userstyles.world/api/style/38.user.css
@supportURL                                https://github.com/TheRealGWJosh/AddonPackPlus/issues 

--= Stylus Stuff =--
@preprocessor                                                                                uso

--= Author Stuff =--
@author                                                 It'sJustJosh#2812 - (362628885361197056)
@namespace                                                   github.com/openstyles/TheRealGWJosh

--=Imports/Selects/Other=--
@var select comfy "Comfy Theme On/Off" {
"Normal":                    "https://therealgwjosh.github.io/AddonPackPlus/src/Comfy/vars.css",
"Original":               "https://therealgwjosh.github.io/AddonPackPlus/src/OG-Comfy/vars.css",
"Off":                                                                                   "none"}
@var select addon "AddonPack On/Off" {
"On":                              "https://therealgwjosh.github.io/AddonPackPlus/src/main.css",
"Off":                                                                                   "none"}
@var select tear "Teardrop Messages" {
"On":          "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Teardrop-Messages.css",
"Off":                                                                                   "none"}
@var select font "Custom Font" {
"Off":                                                                                   "none",
"On":                "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Custom-Font.css"}
@var select url "Watermark Type" {
"Normal":              "https://project-browser.github.io/Workmark-Plus/src/WordmarkImport.css",
"Custom Wordmark":       "https://project-browser.github.io/Workmark-Plus/src/CustomImport.css",
"None":                                                                                  "None"}
@var select cbg "UnFocused Background" {
"On":                "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UnfocusedBG.css",
"Off":                                                                                   "None"}
@var select bfi "Bonfire Image" {
"On":                                        "https://nyri4.github.io/Comfy/assets/bonfire.gif",
"Discord Logo": "https://project-browser.github.io/Workmark-Plus/assets/Discord-Logo-Color.svg",
"Off":                                                                                   "None"}
@var select gs "Emoji Grayscale" {
"Off":                                                                                     "0%",
"On":                                                                                    "100%"}
@var text  tm "Discord  Text"                     "'Discord - Themed By Stylus - AddonPack+ V3'"
@var text csbg "Status Picker Image"                             https://i.imgur.com/yHP6sgj.png

--=Dark Theme Vars--

--Discord's Main Colors--
@var color darkbgpr "Dark BG Pri" #23283d
@var color darkbgse "Dark BG Sec" #1e2233
@var color darkbgsealt "Dark BG Sec Alt" #191f2e
@var color darkte "Dark Tertiary" #101320

--Background Shit idk what it does--
@var color darkbgac "Dark BG Accent" #6E85D3
@var color darkbgmp "Dark BG Mobile Pri" #23283d


--Icon Colors I think--
@var color darkih "Dark Interactive Hover" #dcddde
@var color darkia "Dark Interactive Active" #fff
@var color darkin "Dark Interactive Normal" #b9bbbe
@var color darkim "Dark Interactive Muted" #4f545c

--=Light Theme Vars--

--Discord's Main Colors--
@var color lightbgpr "Light BG Pri" #e0dc89
@var color lightbgse "Light BG Sec" #978e4a
@var color lightbgsealt "Light BG Sec Alt" #58542c
@var color lightte "Light Tertiary" #958c35

--Background Shit idk what it does--
@var color lightbgac "Light BG Accent" #c0c0a3
@var color lightbgmp "Light BG Mobile Pri" #dfe1bd


--Icon Colors I think--
@var color lightih "Light Interactive Hover" #4e4e4e
@var color lightia "Light Interactive Active" #000
@var color lightin "Light Interactive Normal" #414243
@var color lightim "Light Interactive Muted" #2e3136

--=Text Vars=--
@var text ubb "User Buttons Bottom"                                                          0px
@var text ubw "User Buttons Width"                                                          72px
@var text ubl "User Buttons Left"                                                            0px
@var text fgh "Friend Grid Height"                                                         120px
@var text str "Status Radius"                                                                3px
@var text svr "Server Radius"                                                                8px
@var text ar "Avatar Radius"                                                                 5px

--=Color Vars=--
@var color mc "Mention color"                                                            #7289da
@var color idd "Iddle Color"                                                             #FAA61A
@var color dnd "DND Color"                                                               #F04747
@var color off "Offline Color"                                                           #747F8D
@var color lf "Light Focused"                                                            #5568a6
@var color df "Dark  Focused"                                                            #7289DA
@var color ln "Light  Normal"                                                            #313232
@var color dn "Dark   Normal"                                                            #66696a

==/UserStyle== */ @-moz-document domain("discord.com"){ /*
===================================================================================================
                                Import Source Code
===================================================================================================
*/
@import                url(/*[[comfy]]*/);
@import                url(/*[[addon]]*/);
@import                 url(/*[[tear]]*/);
@import                 url(/*[[font]]*/);
@import                  url(/*[[url]]*/);
@import                  url(/*[[cbg]]*/);
/*
===================================================================================================
                                  Color Variables 
===================================================================================================
*/.theme-light{
/* Discord's Main Colors */
--background-primary: /*[[lightbgpr]]*/; /* Main body colour */
--background-secondary: /*[[lightbgse]]*/; /* Channel list, embeds, side bar, message box, icons for sharing screen and etc*/
--background-secondary-alt: /*[[lightbgsealt]]*/; /* On hover colour for people and channels, and your avatar thingy at the bottoms */
--background-tertiary: /*[[lightte]]*/; /* Side bar around servers*/
/* Background Shit idk what it does */
--background-accent: /*[[lightbgac]]*/;
--background-mobile-primary: /*[[lightbgmp]]*/;
/* Icon Colors I think */
--interactive-hover: /*[[lightih]]*/;
--interactive-active: /*[[lightia]]*/;
--interactive-normal: /*[[lightin]]*/; /* UI icons */
--interactive-muted: /*[[lightim]]*/;  /* Quotes */
/* Scrollbar Shit */
--scrollbar-thin-thumb: var(--background-tertiary); /* Channel and people sidebar baby scroll colour */
--scrollbar-auto-thumb: var(--background-tertiary); /* Message box baby scroll thingy */
--scrollbar-auto-track: var(--background-secondary-alt); /* Non scrolly part of the scroll */}
.theme-dark{
/* Discord's Main Colors */
--background-primary: /*[[darkbgpr]]*/; /* Main body colour */
--background-secondary: /*[[darkbgse]]*/; /* Channel list, embeds, side bar, message box, icons for sharing screen and etc*/
--background-secondary-alt: /*[[darkbgsealt]]*/; /* On hover colour for people and channels, and your avatar thingy at the bottoms */
--background-tertiary: /*[[darkte]]*/; /* Side bar around servers*/
/* Background Shit idk what it does */
--background-accent: /*[[darkbgac]]*/;
--background-mobile-primary: /*[[darkbgmp]]*/;
/* Icon Colors I think */
--interactive-hover: /*[[darkih]]*/;
--interactive-active: /*[[darkia]]*/;
--interactive-normal: /*[[darkin]]*/; /* UI icons */
--interactive-muted: /*[[darkim]]*/;  /* Quotes */
/* Scrollbar Shit */  
--scrollbar-thin-thumb: var(--background-tertiary); /* Channel and people sidebar baby scroll colour */
--scrollbar-auto-thumb: var(--background-tertiary); /* Message box baby scroll thingy */
--scrollbar-auto-track: var(--background-secondary-alt); /* Non scrolly part of the scroll */
}/*
====================================================================================================
                                  Theme Variables
====================================================================================================
*/:root{
/* User Buttons */
--user-buttons-width:         /*[[ubw]]*/;
--user-buttons-left:          /*[[ubl]]*/;
--user-buttons-bottom:        /*[[ubb]]*/;
/* Friend Grid Var */
--friendblockheight:          /*[[fgh]]*/; 
/* Mention color */
--mention-color:               /*[[mc]]*/;
/* Status color */
--iddle:                      /*[[idd]]*/;
--dnd:                        /*[[dnd]]*/;
--offline:                    /*[[off]]*/;
/* Avatar roundess */
--avatar-radius:               /*[[ar]]*/;
/* Status roundness */
--status-radius:              /*[[str]]*/;
/* Server roundess */
--server-radius:              /*[[svr]]*/;
/* Colored emoji picker */
--colored-emoji:    grayscale(/*[[gs]]*/);
/* Custom */
--bonfire:             url("/*[[bfi]]*/");
--status-background:  url("/*[[csbg]]*/");
--csbg:var(--status-background)!important;
/* Wordmark+ */
--textmark:                    /*[[tm]]*/;
--lightfocused:                /*[[lf]]*/;
--lightnormal:                 /*[[ln]]*/;
--darkfocused:                 /*[[df]]*/;
--darknormal:                  /*[[dn]]*/; 
}/*
=====================================================================================================
                Please place any Theme-specific Custom CSS Below here
=====================================================================================================
*/}
