/* ==UserStyle==
@name           AddonPack+
@namespace      github.com/TheRealGWJosh
@version        2021.24.3
@description    AddonPack+ is a Discord Theme Based off of NYRI4's Comfy And a Bunch of snippets from The Powercord Community While Keeping Discord's Main Colors
@author         It'sJustJosh#1156
@license        CC0-1.0
@preprocessor   uso
@homepageURL    https://github.com/TheRealGWJosh/AddonPackPlus
@updateURL      https://github.com/TheRealGWJosh/AddonPackPlus/raw/main/AddonPackPlus.user.styl
@supportURL     https://github.com/TheRealGWJosh/AddonPackPlus/issues  
==/UserStyle== */
@-moz-document domain("discord.com") {
	@import url("https://nyri4.github.io/Comfy/betterdiscord/main.css"); @import url("https://therealgwjosh.github.io/AddonPackPlus/src/main.css");
    @import url("https://therealgwjosh.github.io/AddonPackPlus/src/watermarkweb.css"); 
	:root {
		/* Main Color */
		--maincolor-p1: #8c8e4e;
		--maincolor-g1: #8c8e4e 0%;
		--maincolor-1: 140, 142, 78;
		--maincolor-c1: rgba(140, 142, 78);
		--maincolor-t1: rgba(140, 142, 78, .6);
		--maincolor-ts1: rgba(140, 142, 78, .84);
		--maincolor-tt1: rgba(140, 142, 78, .1);
		--maincolor-ttt1: rgba(140, 142, 78, .18);
		--maincolor-tttt1: rgba(140, 142, 78, 0.25);
		/* Secondary Color */
		--maincolor-p2: #8945b0;
		--maincolor-g2: #8945b0 74%;
		--maincolor-2: 137, 69, 176;
		/* How Round The PFP is 50% = Circle 0% = Square */
		--avatarradius:  5px;
		/* -- Others settings -- */
		/* User button spacing */
		--user-buttons-spacing: 8px;
		/* Avatar roundess */
		--avatar-radius: var(--avatarradius);
		/* Status roundness */
		--status-radius: 3px;
		/* Server roundess */
		--server-radius: 8px;
		/* Avatar width in modals */
		--avatar-width: 130px;
		/* Change bonfire in modals */
		--bonfire: var(--bonfiresvg);
        --bonfiresvg: url('https://nyri4.github.io/Comfy/assets/bonfire.gif');
		/* Colored emoji picker */
		--colored-emoji: grayscale(0%);
		/* Change the value to "100%" if you want the basic one */
		/* Mention color */
		--mention-color: #f04747;
		--unread-color: #7289da;
		/* Mention color in chat */
		--mention-color-bar: #C66262;
		--mention-color-background: #c662621f;
		--mention-color-hover: #c6626226;
		/* User settings color (Mute, Deafen and settings) */
		--user-buttons-color: #525356 !important;
		/* Chat buttons color */
		--chat-buttons: #525356;
		/* Spotify plugin seek bar */
		--spotify-color: #1EDC62;
		/* Status color */
		--online: #43B581;
		--iddle: #FAA61A;
		--dnd: #F04747;
		--offline: #747F8D;
		/* Circles next to role names */
		--role-circle: 5px;
		/* Tooltips */
		--tooltips: block;
		/* Set it to "none" if you don't want it */
		/* Discord logo */
		--discord-logo: none;
		/* Set it to "block" if you want it */
	}
}
