/**
 * @name AddonPack+
 * @author It'sJustJosh#1156
 * @version 2.5
 * @description AddonPack+ Is a Discord Theme Incuding NYRI4's Comfy With a Bunch of Snippets from The Powercord, Open Styles, & Comfy Community
 * @source https://therealgwjosh.github.io/AddonPackPlus/AddonPackPlus.theme.css
 * @website https://therealgwjosh.github.io/BetterDiscordStuff/
 * @invite qafdmryEye
*/

/*
====================================================================================================
                                Import Source Code
====================================================================================================
*/ @import url("https://therealgwjosh.github.io/AddonPackPlus/src/wtf.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Teardrop-Messages.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Comfy/vars.css");/*
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Sidebar.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/OG-Comfy/vars.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UnfocusedBG.css");
@import url("https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Custom-Font.css");
*/ /*
====================================================================================================
                                  Color Variables
====================================================================================================
*/ :root { /* Discord Recolor By DevilBro */
--accentcolor: 				114, 137, 218;		
--accentcolor2: 			255,115,250;			
--textbrightest: 			255,255,255;		
--textbrighter: 			222,222,222;		
--textbright: 				185,185,185;			
--textdark: 				140,140,140;		
--textdarker: 				115,115,115;		
--textdarkest: 				80,80,80;			
--backgroundprimary: 		29, 38, 59;			
--backgroundsecondary: 		30, 34, 51;		
--backgroundsecondaryalt: 	35, 40, 61;			
--backgroundtertiary: 		25, 31, 46;		
--backgroundfloating: 	    92, 103, 132; } /*
====================================================================================================
                                  Theme Variables
====================================================================================================
*/ :root { /* Friend Grid Var */
--friendblockheight: 120px; 
/* Mention color */
--mention-color: #7289da;
/* Status color */
--iddle: #FAA61A;
--dnd: #F04747;
--offline: #747F8D;
/* Avatar roundess */
--avatar-radius: 5px;
/* Status roundness */
--status-radius: 3px;
/* Server roundess */
--server-radius: 8px;
/* Colored emoji picker */
--colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */
/* Change bonfire in modals */
--bonfire: url("https://nyri4.github.io/Comfy/assets/bonfire.gif");
/* CUSTOM */
--status-background: url('https://i.imgur.com/bLjT5yC.png'); /*https://i.imgur.com/yHP6sgj.png*/ } /*
=====================================================================================================
                Please place any Theme-specific Custom CSS Below here
=====================================================================================================
*/
