@-moz-document domain("discord.com")/* ==UserStyle==
@name           AddonPack+
@namespace      github.com/TheRealGWJosh
@version        2.0.1
@description    AddonPack+ Is a Discord Theme Incuding NYRI4's Comfy With a Bunch of Snippets from The Powercord, Open Styles, & Comfy Community
@author         It'sJustJosh#1156
@license        CC0-1.0
@preprocessor   uso
@homepageURL    https://github.com/TheRealGWJosh/AddonPackPlus
@updateURL      https://raw.githubusercontent.com/TheRealGWJosh/AddonPackPlus/main/AddonPackPlus.user.styl
@supportURL     https://github.com/TheRealGWJosh/AddonPackPlus/issues  
@var select font "Custom Font" {
"Off":                                                                             "none",
"On":          "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Custom-Font.css"}
@var color bt "Background Tertiary" #101320
@var color bs "Background Secondary" #1e2233
@var color bsa "Background Secondary Alt" #191f2e
@var color bp "Background Primary" #23283d
@var color bmp "Background Mobile Primary" #23283d
@var color bmsec "Background Mobile Secondary" #1e2233
@var color ctab "Channeltextarea Background" #191f2e
@var color ba "Background Accent" #6E85D3
@var color bmodh "Background Modifier Hover" #1c2030
@var color bma "Background Modifier Active" #1a1e2e
@var color bmsel "Background Modifier Selected" #191f2e
@var color dcbg "Deprecated Card BG" #12141f63
@var color bf "Background Floating" #101320
@var color dqib "Deprecated Quickswitcher Input Background" #101320
@var color sathumb "Scrollbar Auto Thumb" #121722
@var color satrack "Scrollbar Auto Track" #191f2e
@var color stt "Scrollbar Thin Thumb" #141925
@var color acbg "Activity Card Background" #101320
@var select comfy "Comfy Theme On/Off" {
"Normal":              "https://therealgwjosh.github.io/AddonPackPlus/src/Comfy/vars.css",
"Original":         "https://therealgwjosh.github.io/AddonPackPlus/src/OG-Comfy/vars.css",
"Off":                                                                             "none"}
@var select addon "AddonPack On/Off" {
"On":                     "https://therealgwjosh.github.io/AddonPackPlus/src/main.css",
"Off":                                                                             "none"}
@var select tear "Teardrop Messages" {
"On":    "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Teardrop-Messages.css",
"Off":                                                                             "none"}
@var color mc "Mention color" #7289da
@var color idd "Iddle Color" #FAA61A
@var color dnd "DND Color" #F04747
@var color off "Offline Color" #747F8D
@var text str "Status Radius" 3px
@var text svr "Server Radius" 8px
@var color lf "Light Focused"                                                     #5568a6
@var color df "Dark  Focused"                                                     #7289DA
@var color ln "Light  Normal"                                                     #313232
@var color dn "Dark   Normal"                                                     #66696a
@var text  tm "Discord  Text" "'Discord - Themed By Stylus - AddonPack+ V2.0.3'"
@var select url "Watermark Type" {
"Normal":        "https://project-browser.github.io/Workmark-Plus/src/WordmarkImport.css",
"Custom Wordmark": "https://project-browser.github.io/Workmark-Plus/src/CustomImport.css",
"None":                                                                           "None"}
@var select gs "Emoji Grayscale" {
"Off":                                                                              "0%",
"On":                                                                             "100%"}
@var text ar "Avatar Radius"  5px
@var select cub "CustomUserBadges" {
"Badges On":                          "https://therealgwjosh.github.io/CustomUserBadges/source/main.css",
"Badges Off":                                                                                     "None"}
@var select cbg "UnFocused Background" {
"On":                         "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/UnfocusedBG.css",
"Off":                                                                                            "None"}
@var select bfi "Bonfire Image" {
"On":                                                 "https://nyri4.github.io/Comfy/assets/bonfire.gif",
"Discord Logo":          "https://project-browser.github.io/Workmark-Plus/assets/Discord-Logo-Color.svg",
"Off":                                                                                            "None"}
@var select side "Sidebar Auto Hover" {
"On":                             "https://therealgwjosh.github.io/AddonPackPlus/src/Addons/Sidebar.css",
"Off":                                                                                            "None"}
@var text csbg "Status Picker Image"                                      https://i.imgur.com/yHP6sgj.png
==/UserStyle== */
{@import url(/*[[comfy]]*/);
@import url(/*[[addon]]*/);
@import url(/*[[tear]]*/);
@import url(/*[[font]]*/);
@import url(/*[[side]]*/);
@import url(/*[[cub]]*/);
@import url(/*[[url]]*/);
@import url(/*[[cbg]]*/);

/* =====================================DO NOT MESS WITH===================================== */
.theme-dark {
--background-tertiary: /*[[bt]]*/;
--background-secondary: /*[[bs]]*/;
--background-secondary-alt: /*[[bsa]]*/;
--background-primary: /*[[bp]]*/;
--background-mobile-primary: /*[[bmp]]*/;
--background-mobile-secondary: /*[[bmsec]]*/;
--channeltextarea-background: /*[[ctab]]*/;
--background-accent: /*[[ba]]*/;
--background-modifier-hover: /*[[bmodh]]*/;
--background-modifier-active: /*[[bma]]*/;
--background-modifier-selected: /*[[bmsel]]*/;
--deprecated-card-bg: /*[[dcbg]]*/;
--background-floating: /*[[bf]]*/;
--deprecated-quickswitcher-input-background: /*[[dqib]]*/;
--scrollbar-auto-thumb: /*[[sathumb]]*/;
--scrollbar-auto-track: /*[[satrack]]*/;
--scrollbar-thin-thumb: /*[[stt]]*/;
--activity-card-background: /*[[acbg]]*/; }
:root {/* Mention color */
--mention-color: /*[[mc]]*/;
/* Status color */
--iddle: /*[[idd]]*/;
--dnd: /*[[dnd]]*/;
--offline: /*[[off]]*/;
/* Avatar roundess */
--avatar-radius: /*[[ar]]*/;
/* Status roundness */
--status-radius: /*[[str]]*/;
/* Server roundess */
--server-radius: /*[[svr]]*/;
/* Colored emoji picker */
--colored-emoji: grayscale(/*[[gs]]*/);
/* Change the value to "100%" if you want the basic one */
/* CUSTOM IMAGES & SHIT */
--status-background: url('/*[[csbg]]*/');
/* Change bonfire in modals */
--bonfire: url(/*[[bfi]]*/);
/* Wordmark+ */
--textmark: /*[[tm]]*/;
--lightfocused: /*[[lf]]*/;
--lightnormal: /*[[ln]]*/;
--darkfocused: /*[[df]]*/;
--darknormal: /*[[dn]]*/; }}
/* =====================================V CUSTOM CSS HERE V===================================== */ 
