/* USRBG import */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
@import url('https://cloneyinnit.github.io/BetterBG/snippets/modals.css');
@import url('https://cloneyinnit.github.io/BetterBG/snippets/userPopouts.css');

/* -- USRBG Big Popout -- */
:root {
  --usrbg-modal-x-offset: -180px; /*Distance from the avatar container to the edge of the modal (x)*/
  --usrbg-modal-y-offset: -65px; /*Distance from the avatar container to the edge of the modal (y)*/
  --usrbg-modal-width: 800px; /*Maximum width of modal*/
  --usrbg-modal-height: 600px; /*Maximum height of modal*/
}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"] {
  margin-right: 0 !important;
}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"]::after {
  content: "";
  position: absolute;
  top: var(--usrbg-modal-x-offset) !important;
  left: var(--usrbg-modal-y-offset) !important;
  width: var(--usrbg-modal-width);
  height: var(--usrbg-modal-height);
  opacity: 0.7;
  pointer-events: none;
  background: var(--user-background, var(--status-background)) center/cover no-repeat;
  -webkit-mask: linear-gradient(#000000, #0000004f);
  background-color: linear-gradient(#000000, #0000004f) !important;
  mask: linear-gradient(#000, transparent);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.topSectionNormal-2-vo2m *,
.topSectionSpotify-1lI0-P *,
.topSectionPlaying-1J5E4n *,
.topSectionStreaming-1Tpf5X *,
.body-3ND3kc {
  z-index: 1;
}

/* -- USRBG Small Popout -- */
.header-2BwW8b {
  transform: translateZ(0);
}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA[style*="width: 80px;"]::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  pointer-events: none;
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position) center;
  background-image: var(--user-background, var(--status-background));
  -webkit-mask-image: linear-gradient(#000000, #0000004f);
  mask-image: linear-gradient(0.25turn, #0009, #0000);
}

.userPopout-3XzG_A .header-2BwW8b,
.userPopout-3XzG_A .scroller-2FKFPG,
.userPopout-3XzG_A .footer-1fjuF6,
.body-3iLsc4 {
  z-index: 1;
}

.headerSpotify-zpWxgT .activityUserPopout-2yItg2 {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}
.topSectionSpotify-1lI0-P .activityProfile-2bJRaP {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 0px #66ff0099 !important;
}
.headerPlaying-j0WQBV .activityUserPopout-2yItg2 {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}
.topSectionPlaying-1J5E4n .activityProfile-2bJRaP {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 0px #46599c;
}
.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    box-shadow: 0px 3px 0px #46599c;
    border: 0.2px solid #46599c !important;
    transition: 0.15s;
}
