/* BetterBG & USRBG */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css"); @import url("https://flashc0rd.github.io/BetterBG/bg/backgrounds.css");
:root{/* --friendblockheight: 120px; *//* --csbg: url('https://github.com/TheRealGWJosh/Phancord/blob/main/assets/User-Popout.jpeg?raw=true'); */}
/* Grid */
.peopleList-3c4jOR > div:not(.ring-13rgEW) {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(280px, auto));
grid-gap: 10px; 
margin: 10px;}
/* Grid items */
.peopleList-3c4jOR .peopleListItem-2nzedh, .peopleList-3c4jOR .title-30qZAO{ 
border-top: none;
margin: 0; 
padding: 10px 10px 10px 0;
width: 100%; 
height: var(--friendblockheight) !important;
background-color: var(--background-secondary);
border-radius: 5px;}
/* Online count */
.peopleList-3c4jOR .title-30qZAO { 
font-size: 18px;
text-align: center;
line-height: 40px;
height: var(--friendblockheight)}
[id="ONLINE-tab"] .peopleList-3c4jOR .title-30qZAO {
padding-left: 30px;
color: #43B581;
height: var(--friendblockheight)}
[id="ONLINE-tab"] .peopleList-3c4jOR .title-30qZAO:before { 
content: "";
position: absolute;
margin-left: -32px;
margin-top: 13px;
width: 14px;
height: 14px;
background-color: #43B581;
border-radius: 50%;}
/* User avatar */
.userInfo-2zN2z8 .avatar-3W3CeO { 
width: 40px !important; 
height: 40px !important; 
top: -1px; 
right: -2px; 
background-color: var(--background-tertiary); }
/* USRBG */
.avatar-3W3CeO.wrapper-3t9DeA:before {
content: '';
position: absolute;
top: -20px; 
left: -25px;
min-width: 585px;
height: var(--friendblockheight) !important;
z-index: -1;
opacity: 0.3;
background: var(--user-background, var(--csbg));
background-size: cover;
background-repeat: no-repeat;
background-position: center;}
.peopleListItem-2nzedh .subtext-24R4-w { 
position: absolute;
margin-left: -68px !important;
top: calc(var(--friendblockheight) - 48px);
border-radius: 8px; 
background-color: var(--background-tertiary);
padding: 8px;
width: 420px !important;}
.actions-1SQwjn {
position: absolute; 
z-index: 1;
background-color: var(--background-tertiary);
border-radius: 8px;
width: 80px;
height: 40px;
margin-top: -5px !important;
margin-right: -5px !important; }
.userInfo-2zN2z8 {
background-color: var(--background-tertiary);
border-radius: 8px;
padding: 8px;
margin-left: 6px;}
/* Buttons */
.actionButton-uPB8Fs, .actionButton-uPB8Fs.highlight-Lf97TE {background-color: transparent;}
/* tajmahal? / Bruh / Why is this here? */
.userInfo-2zN2z8 { overflow: visible;}
.userInfo-2zN2z8, .actions-1SQwjn {position: relative; z-index: 1;}
.listItemContents-95HL3L {align-items: flex-start;}
.text-37NqbO, .peopleListItem-2nzedh {flex: 1 !important;}
.peopleList-3c4jOR .actions-1SQwjn {margin: 0px;}
.listItemContents-95HL3L .username-2b1r56, .listItemContents-95HL3L .discriminator-22Okc1 {margin-bottom: 15px;}
