/* Auto Hide by \xynstr#0300 */
    /* Transition */
    .sidebar-2K8pFh:hover {
        width: 240px !important;
        transition: 0.1s ease !important;
        transition-delay: 0.3s !important;
    }
    /* Detects screen size to show channels if screen is big enough */
    @media screen and (max-width: 1100px) {
        .sidebar-2K8pFh {
            width: 0px !important;
            transition: 0.3s ease !important;
            position: fixed !important;
            height: calc(100% - 47.988px) !important;
            z-index: 1 !important;
            bottom: 0px !important;
        }
        .wrapper-3NnKdC:hover + .base-3dtUhz > .content-98HsJk > .sidebar-2K8pFh {
			width: 240px !important;}
        }
        .sidebar-2K8pFh:hover {
            width: 240px !important;
      }
