/* SlookChatBox */
/* Name */
.username-1A8OIy {
  font-size: 1.15rem;
  line-height: 2.375rem;
  color: var(--header-primary);
  display: inline;
  margin-bottom:  15px;
  margin-left: 2px;  /* - DISCORD USERNAME FONT
  font-family:'Discord'; 
  /*
  /* */
}
.cozy-3raOZG .timestamp-3ZCmNB {
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--text-muted);
  display: none;
}
.message-2qnXI6 .avatar-1BDn8e {
  top: 16px;
  width: 45px;
  height: 45px;
}
.cozy-3raOZG .messageContent-2qWWxC {
  margin-left: -68px;
  padding-left: 72px;
  margin-top: -5px;
}
.theme-light .mentioned-xhSam7:before {
  background-color: #49A31F;
  width: 3px;
  left: -8px
}
.theme-dark .mentioned-xhSam7:before {
  background-color: #e6ebe3;
  width: 3px;
  left: -8px
}
.message-2qnXI6 {
  margin-left: 16px;
}
.message-2qnXI6:hover {
  background-color: var(--background-floating);
  border-radius: 10px
};
.contents-2mQqc9 {
  margin-top: 1px;
}
.message-2qnXI6:not(.groupStart-23k01U) .buttonContainer-DHceWr {
  margin-top: 10px;
}
.mentioned-xhSam7 {
  position: relative;
  background-color: var(--background-mentioned)
}
/* BetterReplies Support USE TYPE 2*/
.cozy-3raOZG .repliedMessage-VokQwo {
  height: 13px;
  margin-top: -4px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.executedCommand-2GE3w2 .applicationName-1-Uq7y, .executedCommand-2GE3w2 .commandName-1klrjB, .executedCommand-2GE3w2 .username-1A8OIy, .repliedMessage-VokQwo .username-1A8OIy, .threadMessageAccessory-1pYyA- .username-1A8OIy {
  margin-top: 15px
}
.repliedTextPreview-2NBljf.clickable-1bVtEA {
  margin-top: 5px
}
.toprole-wrapper.role {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  bottom: 2px;
  text-indent: 0;
}
