.appMount-3lHmkl .app-1q1i1E { opacity: 0; transition: 0.15s;}
.appMount-3lHmkl:hover .app-1q1i1E { opacity: 1; transition: 0.15s;}
.appMount-3lHmkl:after {
content: "";
position: fixed;
background: var(--bonfire) center/8% no-repeat;
width: 100%; height: 100%;
opacity: 1;}
.appMount-3lHmkl:hover:after { opacity: 0; pointer-events: none;} 
