/* User buttons */
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 72px;
  z-index: 1;
  padding: var(--user-buttons-padding);
  flex-direction: column;
  background: linear-gradient(transparent, var(--background-tertiary) 15%);
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
  color: var(--user-buttons-color);
  margin: var(--user-buttons-spacing) auto 0 auto;
}
/* Remove Bonfire Icon In Chat */
.form-2fGMdU .wrapper-39oAo3:after {display: none;}
.form-2fGMdU {padding-left: 16px !important;}
