@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css');
@import url("https://devinkid1.github.io/Pop/base.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://landidev.github.io/crearts-discord/Addons/blur-details");
@import url("https://landidev.github.io/crearts-discord/Animated/home-button.css");
@import url("https://landidev.github.io/crearts-discord/Animated/avatar-hover.css");
@import url("https://landidev.github.io/crearts-discord/Animated/icons-hover.css");
@import url("https://landidev.github.io/crearts-discord/Animated/card-hover.css");
@import url("https://landidev.github.io/crearts-discord/Removed/edited.css");
@import url("https://landidev.github.io/crearts-discord/Removed/nitro-home.css");
@import url("https://landidev.github.io/crearts-discord/Removed/chat-header.css");
@import url("https://landidev.github.io/crearts-discord/Removed/gif-nitro-chat.css");
@import url('https://therealgwjosh.github.io/CustomUserBadges/main/main.css');

	/*-------------------------------------------------*/
	/* setting button spinning */
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.button-14-BFJ[aria-label="User Settings"]:hover svg {
		animation: spin 2s linear infinite;
	}
