@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css');
@import url("https://devinkid1.github.io/Pop/base.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://landidev.github.io/crearts-discord/Addons/blur-details.css");
@import url("https://landidev.github.io/crearts-discord/Animated/home-button.css");
@import url("https://landidev.github.io/crearts-discord/Animated/avatar-hover.css");
@import url("https://landidev.github.io/crearts-discord/Animated/icons-hover.css");
@import url("https://landidev.github.io/crearts-discord/Removed/edited.css");
@import url("https://landidev.github.io/crearts-discord/Removed/nitro-home.css");
@import url("https://landidev.github.io/crearts-discord/Removed/chat-header.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/BetterTooltips/tooltips.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/BetterChannelIndicators/indicators.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/CustomHighlightColor/highlight.css");
@import url("https://raw.githubusercontent.com/LuckFire/CSS-Snippets/master/CustomLinkColors/linkcolors.css");
@import url("https://raw.githack.com/LuckFire/CSS-Snippets/master/TextStatusIndicators/textstatus.css");
@import url("https://raw.githack.com/LuckFire/theme-source/main/src/css-compile/ThemeSource-Compiled.css");
@import url("https://raw.githack.com/LuckFire/theme-source/main/src/css-compile/ThemeSource-Root.css");
@import url("https://raw.githack.com/leeprky/FullyThemedDiscord/main/source.css");

:root {
	--text-link: rgb(135, 206, 235) !important;
	--text-link-hover: rgb(30, 144, 255);
	--text-link-author: rgb(255, 255, 255);
	--background-mentioned-side: rgb(114, 137, 218);
	--background-mentioned: rgba(114, 137, 218, 0.05);
	--background-mentioned-hover: rgba(114, 137, 218, 0.12);
	--replying-side: rgb(2, 183, 87);
	--replying-default: rgba(2, 183, 87, 0.05);
	--replying-hovered: rgba(2, 183, 87, 0.12);
	--local-bot-side: rgb(240, 71, 71);
	--local-bot-default: rgba(240, 71, 71, 0.05);
	--local-bot-hover: rgba(240, 71, 71, 0.12);
	--unread-badge: rgba(255, 255, 255, 0.6) !important;
	--unread-bg: rgba(255, 255, 255, 0.01) !important;
	--selected-badge: rgb(112, 135, 215) !important;
	--selected-bg: rgba(112, 135, 215, 0.1) !important;
	--hovered-bg: rgba(79, 84, 92, 0.25) !important;
	--bg-rounding: 0px 10px 10px 0px !important;
	--border-line-type: solid !important;
	/* For more info on different border line types, visit https://css-tricks.com/almanac/properties/b/border/ */
	--tooltip-color: rgba(95, 118, 202, 0.5);
	--tooltip-blur: blur(1.5px);
	--border-radius: 15px 15px 0 0;
	--left-radius: 5px;
	--right-radius: 5px; 
        --background-message-hover: transparent;
        --newmessagesbar: rgba(165, 22, 22, 0.986); /* Change colour here for change */
        /* For UserStatus */
       --streaming:rgb(89, 54, 149);
}
/*------------------------------------------------------------------------------------------*/
/* setting button spinning */
@keyframes spin { from { transform: rotate(0deg); }
	to { transform: rotate(360deg); } }
.button-14-BFJ[aria-label="User Settings"]:hover svg { animation: spin 2s linear infinite; }
/*------------------------------------------------------------------------------------------*/
.avatarWrapper-2yR4wp[aria-expanded="true"] .wrapper-3t9DeA:before {background-image: var(--csbg)}
/* Add transparency & blur to the loading screen */
.container-16j22k {
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
}
.container-3auIfb{
   background: transparent !important;
}
.slider-TkfMQL{
   left:-6px !important;
}
.slider-TkfMQL[style="left: 12px;"]>rect{
   height:20px !important;
   width:20px !important;
   x:4px !important;
   y:0px !important;
   rx:5;
   fill: var(--background-tertiary);
}
.slider-TkfMQL>rect{
   height:20px !important;
   width:20px !important;
   x:4px !important;
   y:0px !important;
   rx:5;
   fill: var(--background-secondary-alt);
}
.container-3auIfb{
   width:20px;
   height:20px;
}
.jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
}
.jumpToPresentBar-G1R9s6{
    visibility: hidden;
    bottom:15px;
}
.barButtonIcon-3t4V3d{
    visibility: visible;
    padding:11px;
    background-color: var(--background-tertiary);
    border-radius: 50%;
}
/* Removes a stupid Container */
.form-2fGMdU:before{
  display: none;
}
/* Applies blur, fixes message cut off */
.form-2fGMdU {
    background: #0000 !important; 
    padding-top:1vh;
    backdrop-filter: blur(10px);
}
.scroller-2LSbBU {
  margin-bottom: -567px;
    padding-bottom: 557px;
}
.listItem-2P_4kh.mentioned > .pill-31IEus > .item-2hkk8m, .wrapper-21YSNc.mentioned > .pill-31IEus > .item-2hkk8m, .wrapper-21YSNc.mentioned > .listItem-2P_4kh > .pill-31IEus > .item-2hkk8m, .wrapper-21YSNc.mentioned > .pill-31IEus > .item-2hkk8m {
    background-color: var(--mention-color);
}
.attachButton-2WznTc {
  padding-right:10px
}
 .profileBadgeStaff-3BXdTO {
    background-image: url(/assets/4358ad1fb423b346324516453750f569.svg)!important }
 .profileBadgePartner-j6Lwhr {
    background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg)!important }
 .profileBadgeHypesquad-12E2P6 {
    background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg)!important }
 .profileBadgeHypeSquadOnlineHouse1-3rBtjf {
    background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg)!important }
 .profileBadgeHypeSquadOnlineHouse2-2oU04B {
    background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg)!important }
 .profileBadgeHypeSquadOnlineHouse3-1DoJkv {
    background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg)!important }
 .profileBadgeHypeSquadOnlineHouse1Winner-3wCl80 {
    background-image: url(/assets/26a2dc8c9d70955a988cb377eec84c22.svg)!important }
 .profileBadgeHypeSquadOnlineHouse2Winner-AS5bXe {
    background-image: url(/assets/88d4f11bee9ea34fee59973b33353da0.svg)!important }
 .profileBadgeHypeSquadOnlineHouse3Winner-2CwwQi {
    background-image: url(/assets/3245b2cd85b787b195ea8f6e10ef5790.svg)!important }
 .profileBadgeVerifiedDeveloper-195KfD {
    background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg)!important }
 .profileBadgeEarlySupporter-2ng_jL {
    background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg)!important }
 .profileBadgePremium-1KDZYC {
    background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg)!important }
 .profileBadgeBugHunterLevel1-dbEzVz {
    background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg)!important }
 .profileBadgeBugHunterLevel2-3TUciC {
    background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg)!important }
 .profileGuildSubscriberlvl1-3oI9tx {
    background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg)!important }
 .profileGuildSubscriberlvl2-r6nJHT {
    background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg)!important }
 .profileGuildSubscriberlvl3-38s3Dj {
    background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg)!important }
 .profileGuildSubscriberlvl4-2NXrsI {
    background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg)!important }
 .profileGuildSubscriberlvl5-3XIa2K {
    background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg)!important }
 .profileGuildSubscriberlvl6-3e3sxW {
    background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg)!important }
 .profileGuildSubscriberlvl7-1dVhQT {
    background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg)!important }
 .profileGuildSubscriberlvl8-1kXdFr {
    background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg)!important }
 .profileGuildSubscriberlvl9-1d6zav {
    background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg)!important }
.inline-2bgipb.hiddenSpoilers-1ksnR6 { visibility: visible; }
.inline-2bgipb.hiddenSpoilers-1ksnR6 img { filter: blur(3rem); }
.inline-2bgipb.hiddenSpoilers-1ksnR6::after {
    content: "SPOILER";
    color: var(--text-normal);
    display: block;
    text-align: center;
    top: calc(50% - 0.5rem);
    position: absolute;
    width: 100%;
    font-weight: bold;
}
.buttons-3JBrkn {
  opacity: 0;
  transition: opacity 0.1s;
}

.channelTextArea-rNsIhG:hover .buttons-3JBrkn {
  opacity: 1.0;
}
/* Green text quoting*/
.blockquoteContainer-U5TVEi, .blockquoteDivider-2hH8H6, .blockquoteDivider-2hH8H6:before  {
    background-color: transparent;
    color: var(--mention-color) !important;
    content: ">";
}
.blockquoteContainer-U5TVEi blockquote {
    text-indent: -7px;
}

	.closedFolderIconWrapper-2sTcE6 {
		display: flex;
		justify-content: center;
		align-items: center; }
	.closedFolderIconWrapper-2sTcE6 * {
		display: none; }
	.closedFolderIconWrapper-2sTcE6::after {
		content: '';
		width: 24px;
		height: 24px;
		position: relative;
		display: block;
		background: #000;
		-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"/></svg>') center/contain no-repeat; }

/* Resizing the Emoji and making it large */
.emojiSection-3Fb9ix img {
    margin: auto;
    min-width: 80%;
    height: auto !important;
}
/* Resizing the Emoji and making it large End */

/* Text Wrapping */
.emojiSection-3Fb9ix > .noWrap-3jynv6, .emojiSection-3Fb9ix{
    flex: wrap;
    flex-direction: column !important;
}
/* Text Wrapping End */

/* Adjusting the text weight and aligning it to center */
.emojiName-27Bjxw {
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
/* Adjusting the text weight and aligning it to center End */

/*------------------------------------------------------------------------------------------*/

/*Minified Members and Search*/
/*By Fitil, Search fix by Cryptogenic*/
.members-1998pB,
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  border-radius: 0 0 0 0 !important;
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width;
  transition-duration: 800ms;
}
.members-1998pB:hover,
.membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.searchResultsWrap-3-pOjs:hover {
  width: 418px;
  min-width: 418px;
}
.searchResultGroup-1DphGG {
  width: 394px;
}
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}

/*Minified Member List*/
.members-1998pB,
.membersWrap-2h-GB4 {
  border-radius: 0 0 0 0 !important;
  width: 62px;
  min-width: 60px;
  transition-property: width, min-width, box-shadow;
  transition-duration: 800ms;
}
.members-1998pB:hover,
.membersWrap-2h-GB4:hover {
  width: 240px;
  min-width: 240px;
}
.membersWrap-2h-GB4 {
  position: absolute;
  right: 0;
  height: 100%;
  box-shadow: none;
}
..membersWrap-2h-GB4:hover { /*yan gölge isteğe bağlı*/
  box-shadow: -5px 0 22px 0px #1e2242;
}
.chatContent-a9vAAp {
  min-width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}
/* Cool Member List */
:root {
    --hover-animation-speed: 0.35s;
    --seperator-color: var(--background-accent);
 }
 
 .membersWrap-2h-GB4 {
    min-width: unset;
    width: 65px;
    justify-content: right;
 }
 
 .members-1998pB {
    transition: transform var(--hover-animation-speed);
 }
 
 .membersWrap-2h-GB4:hover .members-1998pB {
    transform: translateX(-190px);
 }
 
 .membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background: unset;
    background-color: var(--seperator-color);
    position: absolute;
    left: -36px;
    top: 29px;
    margin-left: 0px;
 }
 
 .membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
    background-color: unset;
    margin-left: 0px;
    transition: margin-left var(--hover-animation-speed);
 }
 
 .membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
    margin-left: 8px;
 }
 
 .membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transform: translateX(-6px);
 }
 
 .membersWrap-2h-GB4 .membersGroup-v9BXpm {
    cursor: default;
    transform: translateX(45px);
    transition: transform var(--hover-animation-speed);
    overflow: visible;
 }

.members-1998pB {
  border-radius: 15px 15px 0 0 !important;
}
.membersWrap-2h-GB4, .members-1998pB {
  left: 15px;
  margin-right: 10px
}
.chat-3bRxxu {
  background: var(--background-tertiary);
}
.chatContent-a9vAAp {
  background-color: var(--background-primary);
  border-radius: 0 15px 0 0 !important;
  left: 25px;
  margin-left: -25px
}


.container-1r6BKw.themed-ANHk51{
  position:relative;
  top:15px;
  left:10px;
  width:1204px;
  background-color:var(--background-tertiary);
  height:30px; 
  border-radius:20px;
}
.content-yTz4x3{
  margin-top:-30px;}
  
.content-yTz4x3::before,
.children-19S4PO:after{
    display:none;
}
.members-1998pB{
  margin-top:50px;
}
