@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css');
@import url('https://tropix126.github.io/BetterDiscordStuff/blockBetterDocs.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css');
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url('https://tropix126.github.io/BetterDiscordStuff/friendgrid/v3/css/base.css');
@import url("https://devinkid1.github.io/Pop/base.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://landidev.github.io/crearts-discord/Addons/blur-details");
@import url("https://landidev.github.io/crearts-discord/Animated/home-button.css");
@import url("https://landidev.github.io/crearts-discord/Animated/avatar-hover.css");
@import url("https://landidev.github.io/crearts-discord/Animated/icons-hover.css");
@import url("https://landidev.github.io/crearts-discord/Animated/card-hover.css");
@import url("https://landidev.github.io/crearts-discord/Removed/edited.css");
@import url("https://landidev.github.io/crearts-discord/Removed/nitro-home.css");
@import url("https://landidev.github.io/crearts-discord/Removed/chat-header.css");
@import url("https://landidev.github.io/crearts-discord/Removed/gif-nitro-chat.css");
@import url('https://therealgwjosh.github.io/CustomUserBadges/main/main.css');
@import url("https://monstrousdev.github.io/themes/addons/userSettingsModal.css");

code, .codeLine-14BKbG { font-family: 'Fira Code', monospace; }

	:root { 
		/* Activity Card Colors */
		--xbox-bg: #107C10;
		--xbox-bg-backdrop: #0a530a;
		--spotify-bg: #1DB954;
		--spotify-bg-backdrop: #218F4F;
		--streaming-bg: #9059F6;
		--streaming-bg-backdrop: #694EA8;
		--default-bg: var(--maincolor-c1);
		--default-bg-backdrop: var(--maincolor-ts1);
		/* Gradients Colors */
		--special-gradient: var(--gradient-direction-2), #8980F0 0%, #D577F0 74%;
		--red-gradient: var(--gradient-direction-2), #AA3738 0%, #F04747 74%;
		--yellow-gradient: var(--gradient-direction-2), #C2831B 0%, #FFB740 74%;
		--green-gradient: var(--gradient-direction-2), #264D41 0%, #43B581 74%;
		--grey-gradient: var(--gradient-direction-2), #373A45 0%, #747F8D 74%;
		--white-gradient: var(--gradient-direction-2), rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 74%;

		/* Warning */
		/* Don't Mess With Unless You Know What Your Doing */
		--accentcolor: var(--maincolor-1);
		--link-colour: var(--maincolor-2);
		--linkcolor: var(--maincolor-2);
		--rs-avatar-shape: var(--avatarradius);
		--avatar-radius: var(--avatarradius);
		/* Cards */
		--activity-border-radius: 3px;
		--activity-box-shadow: 2px 2px 2px;
		--activity-modal-color: var(--background-tertiary);
		/* Gradients */
		--default-gradient: var(--gradient-direction-2), var(--maincolor-g1), var(--maincolor-g2);
		--gradient-direction: 180deg;
		--gradient-direction-2: 315deg;
		/* Hover Scale */
		--HoverScale: 1.025;
		/* Transition Time */
		--TransitionTime: 0.25s;
		/* Ease Type */
		--EaseType: cubic-bezier(0, 0.75, 0, 1.75);
		/* Transitions */
		--font-normal: 500;
		--font-hover: bold;
		--font-size-hover: 15px;
		--hover-transition: 0.1s linear;
		--transform-normal: scale(1);
		--hover-transform: scale(1.15);
		--setting-hover-transform: scale(1.025);
		--button-hover-transform: scale(1.03);
		--bg-rounding: 0 0px 0px 0;
		--border-info: 2px solid;
		--background-message-hover: transparent;
		--unread-badge: var(--maincolor-1);
		--unread-bg: var(--maincolor-t1);
		--selected-badge: var(--maincolor-1);
		--selected-bg: var(--maincolor-tt1);
		--selected-bg-hover: var(--maincolor-ttt1);
		--hovered-bg: var(--maincolor-tttt1);
		--scrollbar-thumb-dark: #f8f9fa !important;
		--scrollbar-track-dark: --burple !important;
		--burple: var(--maincolor-p1);
		--nsfw-color: var(--maincolor-p2);
		--sfw-color: var(--maincolor-p1);
		/* Don't Mess With Unless You Know What Your Doing */
		/* Gradients Colors */
		--special-gradient: var(--gradient-direction-2),
		#8980F0 0%,
		#D577F0 74%;
		--red-gradient: var(--gradient-direction-2),
		#AA3738 0%,
		#F04747 74%;
		--yellow-gradient: var(--gradient-direction-2),
		#C2831B 0%,
		#FFB740 74%;
		--green-gradient: var(--gradient-direction-2),
		#264D41 0%,
		#43B581 74%;
		--grey-gradient: var(--gradient-direction-2),
		#373A45 0%,
		#747F8D 74%;
		--white-gradient: var(--gradient-direction-2),
		rgba(255,
		255,
		255,
		0.2) 0%,
		rgba(255,
		255,
		255,
		0) 74%;

		/* Warning */
		/* Don't Mess With Unless You Know What Your Doing */
		/* Gradients */
		--default-gradient: 315deg,#87dfdf 0%,#6a23d3 74%;
		--gradient-direction: 180deg;
		--gradient-direction-2: 315deg;
		/* Hover Scale */
		--HoverScale: 1.025;
		/* Transition Time */
		--TransitionTime: 0.25s;
		/* Ease Type */
		--EaseType: cubic-bezier(0,
		0.75,
		0,
		1.75);
		/* Transitions */
		--font-normal: 500;
		--font-hover: bold;
		--font-size-hover: 15px;
		--hover-transition: 0.1s linear;
		--transform-normal: scale(1);
		--hover-transform: scale(1.15);
		--setting-hover-transform: scale(1.025);
		--button-hover-transform: scale(1.03);
		--bg-rounding: 0 0px 0px 0;
		--border-info: 2px solid;
		--background-message-hover: transparent;
		--unread-badge: var(--maincolor-1);
		--unread-bg: var(--maincolor-t1);
		--selected-badge: var(--maincolor-1);
		--selected-bg: var(--maincolor-tt1);
		--selected-bg-hover: var(--maincolor-ttt1);
		--hovered-bg: var(--maincolor-tttt1);
		/* Don't Mess With Unless You Know What Your Doing */
	}

/*  */
#app-mount div.layerContainer-yqaFcK.da-layerContainer div.backdropWithLayer-3_uhz4.da-backdropWithLayer, .da-backdrop, #app-mount .layer-3QrUeG[aria-label*=SETTINGS] .contentRegion-3nDuYy .tools-3-3s-N .closeButton-1tv5uR::after, #app-mount .layer-3QrUeG[aria-label*=RTC] .contentRegion-3nDuYy .tools-3-3s-N .closeButton-1tv5uR::after {
    backdrop-filter: blur(7px);
}
.container-PNkimc[aria-label="Black Box"] {
    transform:translateZ(0);
}

.container-PNkimc[aria-label="Black Box"] .header-2o-2hj {
    box-shadow:none;
    background:transparent;
}

.container-PNkimc[aria-label="Black Box"] div[style*="visibility: hidden;"]:first-child {
    padding-top:87px;
}

.container-PNkimc[aria-label="Black Box"] div[style*="visibility: hidden;"] {
    visibility:visible !important;
}

.container-PNkimc[aria-label="Black Box"] div[style*="visibility: hidden;"]:first-child::after {
    content:'';
    height:135px;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background:url('http://i.picpar.com/BSwd.png') center/110% no-repeat;
    box-shadow:var(--elevation-low), inset 0 0 0 135px rgba(0,0,0,0.5);
    pointer-events:none;
    transition:350ms ease;
    opacity:0;
    z-index:1;
}

.container-PNkimc[aria-label="Black Box"] div[style*="width: 100%; height: 0px; visibility: hidden;"]:first-child::after {
    opacity:1;
    background-size:100%;
}
/*hover == false*/
[class^="toolbar-"]{
    max-width: 40px;
    transition: max-width 1.5s;
    -webkit-transition: max-width 1.5s;
    -moz-transition: max-width 1.5s;
    -o-transition: max-width 1.5s;
    height: 100%;
}
[class^="toolbar-"]::before{
    content: "︙";
    font-size: 24px;
    margin: 0 8px;
}
/*hover == true*/
[class^="toolbar-"]:hover{
    max-width: 100vw;
}
[class^="toolbar-"]:hover::before{
    content: "<";
    font-size: 24px;
    margin: 0 8px;
}
.emoji.jumboable {
    width:2rem;
    height:2rem;
    margin-right:2px;
    min-height:unset;
}
.iconWrapper-2OrFZ1::after {
    content:'';
    position:absolute;
    background:#fff;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:inherit;
    opacity:0;
    pointer-events:none;
    transform:scale(0);
    transition: opacity 50ms linear;
}
.iconWrapper-2OrFZ1:active::after {
    transform:scale(1);
    opacity:.24;
    transition: opacity 50ms linear, transform 150ms ease;
}
/* Make the home button bounce like a basketball */
/* On hover */
@keyframes bounce {
    from {bottom: 0px;}
    to {bottom: 5px;}
}

.container-1ETFDs:hover {
    animation: bounce .4s ease-in-out infinite alternate;
}
	/*CustomKickText*/
	#user-context-kick .label-22pbtT {
		margin-left: 3px
	}
	#user-context-kick:before {
		position: absolute;
		content: "Yeet";
		background: var(--background-floating);
	}
	#user-context-kick.focused-3afm-j:before {
		background: #f04747
	}
	/*CustomKickText*/
	.reactions-12N0jA .reaction-1hd86g {
		border-radius: 15px !important;
	}
	/*-------Account Information Blur-------*/
	.colorHeaderPrimary-26Jzh- {
		filter: blur(5px);
		transition: 300ms;
	}
	.colorHeaderPrimary-26Jzh-:hover {
		filter: none;
	}
	/*-----------------------------------------*/
	/*-----Check box/circle thingy mabob when uploading files-----*/
	.checkbox-1ix_J3.checked-3_4uQ9[style*="border-color: rgb(114, 137, 218)"] {
		background-color: var(--main-color) !important;
		/*adds background color to "Mark as spoiler" check box/circle when checked*/
	}
	/*------------------------------------------------------------*/
	/*-------Blur spoiler-------*/
	/*blurs spoiler text instead of having a black bar over it*/
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9,
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover,
	.contents-2mQqc9 .spoilerText-3p6IlD {
		background: rgb(130, 130, 130, 0.1);
		/*adds minor grey-ish filter to differentiate spoilted text from normal text*/
		border-radius: 7px;
		/*adds rounded edges for the filter described above*/
	}
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9 > .inlineContent-3ZjPuv {
		filter: blur(3px);
		/*adds blur filter when text is left alone*/
		opacity: 1;
		/*makes blurred text fully opaque*/
	}
	.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover > .inlineContent-3ZjPuv {
		filter: none;
		/*removes blur filter on hover*/
		opacity: 1;
		/*makes text opacity look like normal, non-spoiled text on hover*/
	}
	/*--------------------------*/
	/*-----Connections-----*/
	.connection-1fbD7X,
	.connectionHeader-2MDqhu {
		background-color: rgb(130, 130, 130, 0.1);
		/*makes the background for each acc connection partially transparent*/
	}
	/*---------------------*/
	.folder-21wGz3 {
		filter: blur(2px);
		border-radius: 25px;
	}
	.folder-21wGz3:hover {
		filter: blur(0px);
		border-radius: 25px;
	}
	/*------Call Dock------*/
	.wrapper-3EGhDO {
		background-color: var(--background-secondary);
		border-radius: 25px;
		padding: 0px;
	}
	.colorable-1bkp8v.white-3GPOIp,
	.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
		color: currentColor;
	}
	.colorable-1bkp8v.primary-3NQg8g,
	.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS,
	.colorable-1bkp8v.primary-3NQg8g:hover,
	.colorable-1bkp8v.white-3GPOIp,
	.centerButton-3CaNcJ,
	.colorable-1bkp8v.white-3GPOIp.active-1QRrIS,
	.colorable-1bkp8v.white-3GPOIp:hover,
	.colorable-1bkp8v.red-33-Lnk {
		background: none !important;
	}
	/*---------------------*/
	/*-------Plus Button Popout when Listening to Spotify--------*/
	.popout-2iWAc- {
		background-color: rgb(0, 0, 0);
		/*sets background color to black. might wanna change to white depending on theme*/
		/*affects the background color for customized status dropdown as well*/
	}
	.attachPopoutRowText-2R5RC2 {
		color: var(--main-color);
		/*text color for options listed*/
	}
	/*-------------------------------------------------------------*/
	/*----------Button separators----------*/
	.container-3baos1 > .flex-1O1GKY > :nth-child(n + 2):before,
	.container-1giJp5 > .flex-1O1GKY > :nth-child(n + 2):before {
		display: none;
		/*removes the thin lines between icons*/
	}
	/*-------------------------------------*/
	/*------Option Boxes in Settings Pages------*/
	/*Check Box/Circle*/
	.cardPrimaryEditable-3KtE4g .checkboxWrapper-SkhIWG .checkbox-1ix_J3.checked-3_4uQ9,
	.theme-dark .checkbox-1ix_J3 {
		border-radius: 15px;
		/*Turns the pretty much all check boxes in existence into a check circle (yes, even outside the settings page)*/
	}
	.theme-dark .checked-3_4uQ9 {
		border-color: transparent !important;
		/*Removes the border of the check circle (or box) when selected in
  Safe Direct Messaging*/
	}

	/*Selection Box*/
	.theme-dark .card-3Qj_Yx {
		border-radius: 21px;
		/*makes the boxes more rounded on the edges. max roundess: 21px*/
	}
	/*------------------------------------------*/
	/*-------Follow Channels Modal-------*/
	/*Drop Down Menu*/
	.css-3vaxre-menu {
		background-color: rgb(0, 0, 0);
		/*makes the dropdown menu background black and thus the text easier to read*/
		/*might want to change depending on theme*/
		border-color: transparent;
		/*gets rid of the border*/
		border-radius: 15px;
		/*just in case you want a border, it looks nice and rounded*/
	}


	/*Send To & Select Channel Boxes*/
	/*No Selection*/
	.css-gvi9bl-control {
		border-color: rgba(var(--main-color-numerical), 0.6);
		border-radius: 15px;
		/*Not hovering*/
	}
	.css-gvi9bl-control:hover {
		border-color: var(--main-color);
		/*Hovering*/
	}

	/*No Drop Down Menu*/
	.css-17e1tep-control:hover {
		border-color: var(--main-color);
		border-radius: 15px;
	}
	.css-17e1tep-control {
		border-radius: 15px;
		border-color: rgba(var(--main-color-numerical), 0.6);
	}

	/*Drop Down Menu*/
	.css-6fzn47-control {
		border-radius: 15px;
		border-color: rgba(var(--main-color-numerical), 0.6);
	}
	.css-6fzn47-control:hover {
		border-color: var(--main-color);
		border-radius: 15px;
	}
	/*-------------------------------------------------*/
	/* setting button spinning */
	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.button-14-BFJ[aria-label="User Settings"]:hover svg {
		animation: spin 2s linear infinite;
	}
	.sidebar-2K8pFh {
		border-bottom-left-radius: 8px;
	}
	.sidebar-CFHs9e {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	.sidebarRegion-VFTUkN {
		flex: 0 0 auto;
	}
	.contentColumn-2hrIYH,
	.customColumn-Rb6toI {
		max-width: unset;
	}
	.sidebarRegion-VFTUkN {
		margin: 10px;
		border-radius: 8px;
	}
	.overlay-4k_Q4- {
		border-radius: 40px;
	}
	.avatarUploaderIndicator-2G-aIZ {
		display: none;
	}
	.avatarUploaderInner-2EvNMg {
		border-radius: 8px;
	}

	.sidebarRegionScroller-3MXcoP {
		border-radius: 8px;
	}
	.contentColumn-2hrIYH {
		padding: 10px;
	}
	.contentRegion-3nDuYy {
		margin: 10px;
	}
	.contentRegionScroller-26nc1e,
	.contentTransitionWrap-3hqOEW,
	.contentRegion-3nDuYy {
		border-radius: 8px;
	}

	.standardSidebarView-3F1I7i {
		background: var(--background-secondary-alt);
	}
	.toolsContainer-1edPuj {
		margin-right: 5px!important;
		padding-top: 10px!important;
	}




	#app-mount .profileBadge-2niAfJ.profileBadgeHypesquad-12E2P6 {
		background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse1-3rBtjf {
		background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse2-2oU04B {
		background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeHypeSquadOnlineHouse3-1DoJkv {
		background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeBugHunterLevel1-dbEzVz {
		background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeBugHunterLevel2-3TUciC {
		background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeEarlySupporter-2ng_jL {
		background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgePremium-1KDZYC {
		background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl1-3oI9tx {
		background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl2-r6nJHT {
		background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl3-38s3Dj {
		background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl4-2NXrsI {
		background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl5-3XIa2K {
		background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl6-3e3sxW {
		background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl7-1dVhQT {
		background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl8-1kXdFr {
		background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileGuildSubscriberlvl9-1d6zav {
		background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeStaff-3BXdTO {
		background-image: url(/assets/4358ad1fb423b346324516453750f569.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgePartner-j6Lwhr {
		background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg);
	}
	#app-mount .profileBadge-2niAfJ.profileBadgeVerifiedDeveloper-195KfD {
		background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg);}

	.inline-2bgipb.hiddenSpoilers-1ksnR6 {
		visibility: visible;
	}
	.inline-2bgipb.hiddenSpoilers-1ksnR6 img {
		filter: blur(3rem);
	}
	.inline-2bgipb.hiddenSpoilers-1ksnR6::after {
		content: "SPOILER";
		color: var(--text-normal);
		display: block;
		text-align: center;
		top: calc(50% - 0.5rem);
		position: absolute;
		width: 100%;
		font-weight: bold;
	}
	.search-36MZv- {
		order: -1;
	}
	.searchBar-3dMhjb {
		width: 28px;
		transition: width 0.6s ease-in-out;
		color: #fff;
		background: none;
	}
	.focused-31_ccS .searchBar-3dMhjb,
	.open-6_Y_aH .searchBar-3dMhjb,
	.searchBar-3dMhjb:hover {
		width: 240px;
		background: var(--background-tertiary);
	}
	.icon-3cZ1F_ {
		height: 24px;
		width: 24px;
		color: var(--interactive-normal);
	}
	.iconContainer-O4O2CN {
		bottom: 3px;
	}
	.search-36MZv- {
		margin-left: 0px;
	}


	/* -- Repairing the damages -- */
	/* Emote information popup */
	.emojiSection-3Fb9ix > .flex-1xMQg5,
	.popoutContainer-1MXdqN > .flex-1xMQg5 {
		flex-direction: column;
		align-items: center;
	}
	.emojiSection-3Fb9ix > .flex-1xMQg5 > .flex-1xMQg5,
	.popoutContainer-1MXdqN > .flex-1xMQg5 > .flex-1xMQg5 {
		margin-left: 0px;
	}
	.primaryEmoji-3LinDq {
		margin: 0px 0px 12px 0;
	}
	.popoutContainer-1MXdqN {
		width: auto;
	}

	/* Server Boost */
	.ctaBar-2UsjF2 {
		margin: auto;
	}

	[aria-label="Servers"] div img {
		filter: blur(3px);
		transition: all 0.5s ease-in-out;
	}
	[aria-label="Servers"] div:hover img,
	div.selected img {
		filter: none
	}
	.base-1pYU8j {
		transition: all 0.5s;
	}
	.base-1pYU8j:hover {
		transition: all 0s;
		transform: scale(1.02);
	}
	.tip-2cgoli,
	.tipTitle-GL9qAt {
		font-size: 0px!important;
	}
	.tip-2cgoli .keybind-2jbzrT {
		display: none;
	}
	.tipTitle-GL9qAt::after {
		font-size: 16px;
		content: "Discord Is Cool"
	}
	.tip-2cgoli::after {
		font-size: 16px;
		content: 'Themes Make It Better';
	}
	[aria-label="Download Apps"] {
		display: none;
	}
:root {
    --background-message-hover: transparent;
}
.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .embedFull-2tM8--, .wrapper-35wsBm,
.message-2qnXI6 .imageWrapper-2p5ogY,
.repliedMessage-VokQwo {
    background-color: var(--background-secondary);
    font-weight: 500;
    margin-left: 0 !important;
    margin-top: 4px !important;
    padding-left: 0 !important;
    padding: 8px 12px !important;
    border-radius: 16px;
    border-top-left-radius: 0 !important;
    width: max-content;
    max-width: 80%;
    box-shadow: var(--elevation-low);
    overflow: visible !important;
    box-sizing: border-box;
}
.message-2qnXI6 .imageWrapper-2p5ogY {
    padding: 0 !important;
    max-width: 100% !important;
    overflow: hidden !important;
}
.message-2qnXI6:hover .messageContent-2qWWxC, .message-2qnXI6:hover .embedFull-2tM8--, .message-2qnXI6:hover .wrapper-35wsBm,
.message-2qnXI6:hover .imageWrapper-2p5ogY {
    box-shadow: var(--elevation-medium) !important;
}
.systemMessage-1I9LCe .messageContent-2qWWxC {
    border-top-left-radius: 16px !important;
}
.message-2qnXI6 .wrapper-35wsBm { /* Invited to Server box */
    padding: 14px 12px !important;
    width: 432px !important;
    background-color: var(--background-secondary);
}
.theme-dark .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK), .theme-dark .embedFull-2tM8-- {
    background-color: var(--background-secondary);
    font-weight: 400;
}

.message-2qnXI6 {
    background: none !important;
}
.message-2qnXI6::before {
    content: unset !important;
}
.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8-- {
    background-color: var(--background-tertiary) !important;
}
.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) {
    background-color: var(--background-mentioned) !important;
    border-left: 2px solid #faa61a;
}
[data-author-id="248990650429734912"] .username-1A8OIy::before {
    content: "Cute " /*  i  g  n  o  r  e  :)  */
}

.theme-dark .message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.theme-dark .message-2qnXI6.selected-2P5D_Z .embedFull-2tM8-- {
    background-color: var(--background-secondary-alt) !important;
}
.embedFull-2tM8-- {
    max-width: 520px;
    width: 100%;
}
.embedFull-2tM8-- .grid-1nZz7S {
    padding: 0 4px;
    padding-bottom: 8px;
}
.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre {
    max-width: 100%;
}
.messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-tertiary);
    border-radius: 0;
    border-radius: 16px;
    border-top-left-radius: 0 !important;
}

/* Replies */
.repliedMessage-VokQwo {
    border-bottom-left-radius: 0 !important;
    margin-bottom: -4px !important;
    background-color: var(--background-secondary-alt);
}
.repliedMessage-VokQwo::before {
    content: unset !important;
}
.repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
    border-top-right-radius: 0;
}
.repliedMessage-VokQwo, .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
    width: 60% !important;
    width: clamp(500px, 100%, 600px) !important;
}
/* Cover reply border radius */
.repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 16px;
    height: 16px;
    background-color: var(--background-secondary-alt);
    border-top-left-radius: 100%;
}
/* .message-2qnXI6, .message-2DieIs { */
.cozy-3raOZG.wrapper-2a6GCs {
    display: flex;
    flex-direction: column;
}
.contents-2mQqc9 {
    display: contents;
}
.contents-2mQqc9 .header-23xsNx {
    order: -1;
}
.contents-2mQqc9 > span {
    order: -1;
}  


	[href="/channels/811203761619337259/811644977637621760"] > div > svg > path {
		d: path("m 26 0 h -18 c -1.65 0 -3 1.35 -3 3 v 3.858 s 3.854 2.24 4.098 2.38 c 0.31 0.18 0.694 0.177 1.004 0 c 0.26 -0.147 8.02 -4.608 8.136 -4.675 c 0.279 -0.161 0.58 -0.107 0.748 -0.01 c 0.164 0.097 0.606 0.348 0.84 0.48 c 0.232 0.134 0.221 0.502 0.013 0.622 l -9.712 5.59 c -0.346 0.2 -0.69 0.204 -1.048 0.002 c -0.601 -0.34 -3.081 -1.784 -4.079 -2.365 v 2.02 l 4.098 2.38 c 0.31 0.18 0.694 0.177 1.004 0 c 0.26 -0.147 8.02 -4.609 8.136 -4.676 c 0.279 -0.16 0.58 -0.106 0.748 -0.008 c 0.164 0.096 0.606 0.347 0.84 0.48 c 0.232 0.133 0.221 0.5 0.013 0.62 c -0.208 0.121 -9.288 5.346 -9.712 5.59 c -0.346 0.2 -0.69 0.205 -1.048 0.002 c -0.601 -0.339 -3.081 -1.784 -4.079 -2.364 v 2.02 l 4.098 2.38 c 0.31 0.18 0.694 0.177 1.004 0 c 0.26 -0.147 8.02 -4.609 8.136 -4.676 c 0.279 -0.16 0.58 -0.106 0.748 -0.009 c 0.164 0.097 0.606 0.348 0.84 0.48 c 0.232 0.133 0.221 0.502 0.013 0.622 l -9.712 5.59 c -0.346 0.199 -0.69 0.204 -1.048 0.001 c -0.601 -0.34 -3.081 -1.784 -4.079 -2.364 v 4.03 c 0 1.65 1.35 3 3 3 h 18 c 1.65 0 3 -1.35 3 -3 v -18 c 0 -1.65 -1.35 -3 -3 -3 z");
		transform: scale(0.8);
	}

	[href="/channels/811203761619337259/820232999878393856"] > div > svg > path {
		d: path("M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z");
		transform: scale(1.5);
	}

	[href="/channels/811203761619337259/820235200528908289"] > div > svg > path {
		d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z");
		transform: scale(1.1);
	}



	/* User buttons */
	.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 72px;
		z-index: 1;
		padding: 30px 0 60px 0 !important;
		flex-direction: column;
		background: linear-gradient(transparent, var(--background-tertiary) 15%);
	}
	.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
		color: var(--user-buttons-color);
		margin: var(--user-buttons-spacing) auto 0 auto;
	}

	/* Avatar of the user */
	.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
		position: fixed;
		bottom: 10.5px;
		left: 15.5px;
		z-index: 2;
		margin: 0;
	}
	.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp > .avatar-SmRMf2 {
		width: 40px !important;
		height: 40px !important;
	}
	.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp > .avatar-SmRMf2:hover {
		opacity: 1;
	}

	/* Hiding avatar */
	.content-98HsJk > :nth-child(2):not(.chat-3bRxxu) {
		z-index: 2;
	}

	.channelTextArea-rNsIhG .scrollableContainer-2NUZem:after,
	.form-2fGMdU .wrapper-39oAo3:after {
		position: absolute;
		content: "";
		bottom: 2px;
		left: -50px;
		width: none !important;
		height: none !important;
		background: none !important;
		background-size: 90%;
		background-color: var(--background-secondary);
		border-radius: calc(var(--avatar-radius) + 2px);
	}

	.channelTextArea-rNsIhG {
		right: 60px !important;
		width: 1380px !important;
		bottom: -15px !important;
	}

	.sidebar-2K8pFh {
		width: 0px;
		transition: .5s ease;
	}
	.platform-win .base-3dtUhz {
		border-radius: 0px 0 0;
	}
	.wrapper-1Rf91z:hover + .base-3dtUhz > .content-98HsJk > .sidebar-2K8pFh {
		width: 240px;
	}
	.sidebar-2K8pFh:hover {
		width: 240px;
	}


	.buttons-cl5qTG {
		right: 200px !important;
	}


	/* Bubble Member List - By Leeprky#2063*/
	.members-1998pB {
		transition: transform var(--hover-animation-speed);
	}
	.membersWrap-2h-GB4 {
		min-width: unset;
		width: 40px;
		justify-content: left;
	}
	.content-3QAtGj .subText-1KtqkB {
		display: none;
	}
	.membersWrap-2h-GB4:hover .members-1998pB {
		transform: translateX(-260px);
	}
	.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
		background-color: unset;
		margin-left: 0px;
		transition: margin-left var(--hover-animation-speed);
	}
	.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
		margin-left: 15px;
	}
	.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
		transform: translateX(2px);
	}
	.membersWrap-2h-GB4 .membersGroup-v9BXpm {
		cursor: default;
		transform: translateX(-10px);
		transition: transform var(--hover-animation-speed);
		overflow: visible;
	}
	.members-1998pB {
		border-radius: 18px 18px 18px 18px !important;
		left: 37px;
		margin-top: 100px;
		margin-bottom: 15px;
	}
	.membersWrap-2h-GB4 {
		left: 45px;
		margin-right: 40px;
		bottom: 75px;
		background-color: rgba(216, 27, 27, 0);
	}
	.chatContent-a9vAAp {
		background-color: var(--background-primary);
		border-radius: 0 15px 0 0 !important;
		margin-left: -0px;
		margin-right: -40px;
	}
	.channelTextArea-rNsIhG,
	.channelTextArea-2VhZ6z {
		margin-left: 20px;
	}
	.base-gE7OpD {
		right: -5px;
		top: 45px;
	}
	.buttons-3JBrkn {
		position: relative;
		left: -10px
	}
	/* User popout animation */
	.headerPlaying-j0WQBV.header-2BwW8b,
	.headerSpotify-zpWxgT.header-2BwW8b,
	.headerStreaming-2FjmGz.header-2BwW8b,
	.headerXbox-3G-4PF.header-2BwW8b {
		padding-bottom: 30px;
	}
	.headerPlaying-j0WQBV.header-2BwW8b:after,
	.headerSpotify-zpWxgT.header-2BwW8b:after,
	.headerStreaming-2FjmGz.header-2BwW8b:after,
	.headerXbox-3G-4PF.header-2BwW8b:after {
		background: url('https://nyri4.github.io/Comfy/assets/wave.png');
		background-size: 250px 20px;
		animation: animate 6s linear infinite !important;
		opacity: 1 !important;
	}
	.header-2BwW8b:after,
	.headerPlaying-j0WQBV:before,
	.headerSpotify-zpWxgT:before,
	.headerStreaming-2FjmGz:before,
	.headerXbox-3G-4PF:before {
		position: absolute;
		content: "";
		bottom: -1px;
		left: 0;
		width: 250px;
		height: 20px;
		z-index: -1;
		animation: animate2 6s linear infinite;
		animation-delay: 0s;
		opacity: 0.5;
	}
	.headerPlaying-j0WQBV:before {
		background: url('https://nyri4.github.io/Comfy/assets/wave_playing.png');
		background-size: 250px 20px;
	}
	.headerSpotify-zpWxgT:before {
		background: url('https://nyri4.github.io/Comfy/assets/wave_spotify.png');
		background-size: 250px 20px;
	}
	.headerStreaming-2FjmGz:before {
		background: url('https://nyri4.github.io/Comfy/assets/wave_streaming.png');
		background-size: 250px 20px;
	}
	.headerXbox-3G-4PF:before {
		background: url('https://nyri4.github.io/Comfy/assets/wave_xbox.png');
		background-size: 250px 20px;
	}
	@keyframes animate {
		0% {
			background-position-x: 0;
		}
		100% {
			background-position-x: 250px;
		}
	}
	@keyframes animate2 {
		0% {
			background-position-x: 250px;
		}
		100% {
			background-position-x: 0px;
		}
